/Lib
/Scripts
/share
/etc
/Include
pyvenv.cfg
src/bubble_pins/.env
/src/bubble_pins/output
/src/bubble_pins/results
/src/bubble_pins/data
/src/runs/detect/vctim_detector
/src/bubble_pins/datasets/
/src/vctim/data
/src/__pycache__
/src/vctim/data
/src/vctim/runs
/src/models
*.blob
